<% provide(:title, 'User content') %>
<h1> User contents </h1>
<% if logged_in? && current_user?(@user) %>
  <%= link_to new_user_content_url(@user) do %>
    <div class="modalClick">Add new content</div>
  <% end %>
<% end %>
<%= render @contents %>
<%= will_paginate %>
