<div class="fullImage">
  <div class="fullImageBox">
    <%= image_tag @user.profile_picture.url if @user.profile_picture? %>
  </div>
  <div class="viewFullSize fullImageExit">
    Exit
  </div>
</div>
