<div class="pageTitle">
  Recently uploaded
</div>
<div class="contentBox">
  <%= render @contents %>
</div>
<div class="paginationSite">
  <%= link_to path_to_prev_page(@contents) do %>
    <div class="modalClick pageButton">
      Prev
    </div>
  <% end %>
  <%= link_to path_to_next_page(@contents) do %>
    <div class="modalClick pageButton">
      Next
    </div>
  <% end %>
</div>
