<% provide(:title, 'User Index') %>
<h1>All users</h1>

<%= render @users %>
<div class="paginationSite">
  <%= link_to path_to_prev_page(@users) do %>
    <div class="modalClick pageButton">
      Prev
    </div>
  <% end %>
  <%= link_to path_to_next_page(@users) do %>
    <div class="modalClick pageButton">
      Next
    </div>
  <% end %>
</div>
