<% provide(:title, 'User Index') %>
<div class="pageTitle">
  All Users
</div>

<div class="contentBox">
  <%= render @users %>
</div>
<div class="paginationSite">
  <%= link_to path_to_prev_page(@users) do %>
    <div class="modalClick pageButton">
      Prev
    </div>
  <% end %>
  <%= link_to path_to_next_page(@users) do %>
    <div class="modalClick pageButton">
      Next
    </div>
  <% end %>
</div>
