<% provide(:title, @title) %>
<div class="pageTitle"><h2><%= @title %></h2></div>
<% if @users.any? %>
  <div class="contentBox">
    <%= render @users %>
  </div>
  <%= render 'shared/pagination', items: @users %>
<% else %>
  <p>No users to show!</p>
<% end %>
