<div class="pageTitle">
  <h2>SiteInfo</h2>
</div>
<%= link_to about_url do %>
  <div class="siteBox modalClick">
    <h3>About</h3>
    <p>yada yada</p>
  </div>
<% end %>
<%= link_to help_url do %>
  <div class="siteBox modalClick">
    <h3>Help</h3>
    <p>yada yada</p>
  </div>
<% end %>
<%= link_to siteRules_url do %>
  <div class="siteBox modalClick">
    <h3>Site Rules</h3>
    <p>yada yada</p>
  </div>
<% end %>
