<h1>SiteInfo</h1>
<%= link_to about_url do %>
  <div class="modalClick">About</div>
<% end %>
<%= link_to help_url do %>
  <div class="modalClick">Help</div>
<% end %>
<%= link_to siteRules_url do %>
  <div class="modalClick">Site Rules & Regulations</div>
<% end %>
