@import "bootstrap-sprockets";
@import "bootstrap";

/* site structure */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#fullPage{
  background-color: grey;
  height: 100%;
}

#mainNav {
  background-color: black;
  height: 11%;

}

#navToggle {

}

.navOpen {
  background-color: black;
  color: white;
}
.navButton {
  background-color: yellow;
  float: left;
  width: 50%;
  height: 100%;
}

#mainBody {
  background-color: red;
  height: 89%;
  position: relative;
}

#navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#homeButton {
  width: 99%;
  height: 19%;
}

.navMenuButton {
  float: left;
  width: 49%;
  background-color: rgba(black, 0.3);
  height: 38%;
  margin: 0.5%;
  text-align: center;
}

.HoverBorder {
  border-style: solid;
  border: white, 5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  border-color: white;
}

/* picture css */

#pictureBox {
  width: 100%;
  height: 100%;
  background-color: green;
}

#showContain {
  width: 100%;
  height: 85%;
}

.nextPrevBox {
  height: 100%;
  width: 15%;
  float: left;
}

.nextPrev {
  height: 50%;
  width: 100%;
}

#shownPic {
  height: 100%;
  width: 70%;
  float: left;
}
#pictureMenu {
  width: 100%;
  height: 15%;
  background-color: gray;
}

#pictureBox img {
  max-height: 100%;
  max-width: 100%;
  display: block; /*for the img inside your div */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pictureMenuButton {
  float: left;
  width: 25%;
  height: 100%;
  background-color: blue;
  border-right: 1px solid black;
}

#picInfo {
  width: 40%;
}
#picRating {
  width: 10%;
}

#voteUpDiv {
  height: 50%;
}

#voteDownDiv {
  height: 50%;
}

.picVote {
  height: 100%;
}

.userIndex {
  width: 48%;
  height: 45%;
  margin: 10px;
  float: left;
}

.indexPic {
  height: 100%;
  width: 50%;
  background-color: gray;
  background-size: contain;
  float: left;
}

.indexPic img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.fullImage {
  width: 100%;
  height: 113%;
  position: absolute;
  display: none;
  bottom: 0%;
}

.fullImageBox {
  height: 100%;
  width: 90%;
  background-color: rgba(0,0,0,0.5);
  float: left;
}

.fullImageBox img {
  max-height: 100%;
  max-width: 100%;
  display: block; /*for the img inside your div */
  margin: auto;
}

.fullImageExit {
  height: 100%;
  width: 10%;
  background-color: white;
  float: left;
}

#commentSection {
  width: 100%;
  height: 100%;
  background-color: purple;
  display: none;
}

#commentBlock {
  height: 85%;
  width: 100%;
}

#yesProfile {
  border: 2px solid white;
  width: 160px;
  height: 160px;
}

#noProfile {
  background-color: gray;
  border: 2px solid white;
  width: 180px;
  height: 180px;
}
/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.indexUser {
  width: 100%;
  background-color: grey;
}

.pageTitle {
  height: 9%;
  width: 100%;
  background-color: purple;
  top: 0;
}

.contentBox {
  height: 76%;
  width: 100%;
}

/* userPage */

.userContentBox {
  width: 100%;
  height: 50%;
}

.userInfoBox {
  width: 100%;
  height: 50%;
}

.userInfoBlock {
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid black;
}

.userInfoButton {
  width: 45%;
  height: 45%;
  float: left;
  margin: 10px;
  border: 1px solid black;
}

.userInfoBlockSection {
  height: 65%;
  margin: 10px;
  float: left;
}

#follow_form {
  width: 95%;
  height: 30%;
  float: left;
  margin: 5px;
}

.followDButton {
  width: 100%;
  height: 60px;
}

.formFollow {
  color: white;
  background-color: blue;
  font-size: 30px;
}

.formUnFollow {
  background-color: red;
  color: black;
  font-size: 30px;
}

.contentPreviewBox {
  height: 99%;
  width: 48%;
  float: left;
  margin: 2px;
}

.picPreviewContain {
  width: 48%;
  height: 49%;
  margin: 2px;
  float: left;
}

.picPreviewContain img {
  width: 100%;
  height: 100%;
}

.contentButton {
  height: 80%;
  width: 25%;
  float: left;
}

/* forms */
.formBoxContainer {
  width: 100%;
  height: 100%;
}
.formBox {
  width: 65%;
  height: 100%;
  margin: 10px;
  float: left;
}
.formBox form {
  width: 100%;
  height: 100%;
}

.form-group {
  width: 40%;
  height: 25%;
  float: left;
}

.form-group .form-control {
  height: 80%;
  width: 90%;
}

.form-group label {

}

.formBox .btn {
  height: 25%;
  width: 35%;
  margin: 10px;
}

.fileSelect {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.errorBox {
  width: 30%;
  height: 70%;
  margin: 20px;
  float: left;
}

.addFormButtons {
  width: 30%;
  height: 25%;
  margin: 10px;
  float: left;
  border: 1px solid black;
}

#session_remember_me {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  top: 30px;
  left: 55%;
}

#commentBlock {
  height: 85%;
  width: 100%;
}

.comments {
  height: 75%;
  width: 100%;
  background-color: white;
}

.commentForm {
  height: 25%;
  width: 100%;
  background-color: silver;
}

.commentForm form {
  height: 100%;
  width: 100%;
}

.commentForm form div {
  height: 100%;
  width: 50%;
  margin: 2px;
}

.commentForm form div input {
  height: 90%;
  width: 90%;
  margin: 2px;
}

.commentForm form input {
  height: 90%;
  width: 45%;
  margin-left: 2px;
}
.comment {
  height: 12.5%;
  width: 100%;
  background-color: pink;
}

.commentTxt {
  width: 65%;
  height: 100%;
  float: left;
}

.commentUsername {
  width: 15%;
  height: 100%;
  float: left;
}

.commentTime {
  width: 20%;
  height: 100%;
  float: left;
}
/* paginate */

.paginationSite {
  height: 14%;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.pageButton {
  width: 50%;
  height: 100%;
  float: left;
}
