@import "bootstrap-sprockets";
@import "bootstrap";

/* site structure */
$BLACK: #000000;
$CHARCOAL: #373737;
$PAPER:  #F4F4F4;
$EGGSHELL:  #F5F5F5;
$SILK:  #DCD030;
$CORAL:  #FF533D;
$EMBERS:  #B82601;
$AQUA: #008F95;
$NAVYBLUE:  #0F1626;
$INK:  #062F4F;
$PALEGOLD:  #C0B283;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#fullPage{
  height: 100%;
  background-color: $PAPER;
}

#mainNav {
    height: 11%;
}

.navButton {
  float: left;
  width: 50%;
  height: 100%;
  background-color: $CHARCOAL;
  color: $PALEGOLD;
  border-right: 2px solid $PALEGOLD;
}

#navProfile {
  width: 25%;
}

#navToggle {
  cursor: pointer;
}

.optionsButton {
  width: 12.5%;
  cursor: pointer;
  font-size: 1.4em;
  text-align: center;
  padding-top: 0.3%;
}

.optionsButton p {
  text-align: center;
}

#mainBody {
  height: 89%;
  position: relative;
}

#navMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#homeButton {
  width: 99%;
  height: 19%;
}

.navMenuButton {
  float: left;
  width: 49%;
  background-color: rgba(black, 0.9);
  height: 35%;
  margin: 0.5%;
  text-align: center;
  color: $PALEGOLD;
  z-index: 1000;
}

.HoverBorder {
  cursor: pointer;
  box-shadow: 0 0 10px 10px $EMBERS;
  -webkit-transition: all 3.5s ease;
    -moz-transition: all 3.5s ease;
    -o-transition: all 3.5s ease;
    transition: all 3.5s ease;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* picture css */

#pictureBox {
  width: 100%;
  height: 100%;
}

#showContain {
  width: 100%;
  height: 85%;
}

.nextPrevBox {
  height: 100%;
  width: 15%;
  float: left;
}

.nextPrev {
  padding-top: 50%;
  height: 50%;
  width: 100%;
  color: $CHARCOAL;
  border: 2px solid $PALEGOLD;
}

.nextPrev h3 {
  text-align: center;
  padding: 1%;
}

#shownPic {
  height: 100%;
  width: 70%;
  float: left;
}
#pictureMenu {
  width: 100%;
  height: 15%;
  background-color: $CHARCOAL;
}

#pictureBox img {
  max-height: 100%;
  max-width: 100%;
  display: block; /*for the img inside your div */
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pictureMenuButton {
  float: left;
  width: 25%;
  height: 100%;
  border-right: 2px solid $PALEGOLD;
  color: $PALEGOLD;
}

.pictureMenuButton p {
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#picInfo {
  width: 45%;
}
#picRating {
  width: 30%;
}

#ratingInfo {
}

#voteUpDiv {
  height: 100%;
  width: 50%;
  float: left;
  color: white;
  background-color: $AQUA;
  font-size: 2em;
}

#voteDownDiv {
  height: 100%;
  width: 50%;
  float: left;
  color: white;
  background-color: $CORAL;
  font-size: 2em;
}

.picVote {
  height: 100%;
  weight: 100%;
  padding-left: 15%;
  padding-top: 7%;
}

.fullImage {
  width: 100%;
  height: 113%;
  position: absolute;
  display: none;
  bottom: 0%;
}

.fullImageBox {
  height: 100%;
  width: 90%;
  background-color: rgba(0,0,0,0.5);
  float: left;
}

.fullImageBox img {
  max-height: 100%;
  max-width: 100%;
  display: block; /*for the img inside your div */
  margin: auto;
}

.fullImageExit {
  height: 100%;
  width: 10%;
  background-color: white;
  float: left;
}

#commentSection {
  width: 100%;
  height: 100%;
  display: none;
}

#commentBlock {
  height: 85%;
  width: 100%;
}

#yesProfile {
  border: 2px solid white;
  width: 160px;
  height: 160px;
}

#noProfile {
  background-color: gray;
  border: 2px solid white;
  width: 180px;
  height: 180px;
}
/* typography */

h1 {
  text-align: left;
  margin: 0px;
  padding: 10px;
  font-size: 3em;
}

.menuText {
  text-align: center;
  margin: auto;
  padding: auto;
}

div {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin: 0px;
  padding: 5px;
  font-size: 2.5em;
  text-decoration: none;
}

h3 {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  text-decoration: none;
}

p {
  text-align: left;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.indexUser {
  width: 100%;
  background-color: grey;
}

.pageTitle {
  height: 9%;
  width: 100%;
  top: 0;
}

.pageTitle text {
  font-size: 20%;
}

.contentBox {
  height: 76%;
  width: 100%;
}

/* User index*/

.userInfo {
  float: left;
  padding-left: 5px;
  width: 48%;
  height: 100%;
}

.userIndex {
  width: 48%;
  height: 45%;
  margin: 10px;
  float: left;
  box-shadow: 3px 3px 5px 0px $CHARCOAL;
}

.indexPic {
  height: 100%;
  width: 50%;
  background-color: gray;
  background-size: contain;
  float: left;
}

.indexPic img {
  object-fit: fill;
  height: 100%;
  width: 100%;
}

.infoDesc {
  height: 75%;
  width: 100%;
  border-bottom: 1px solid $PALEGOLD;
  padding-top: 5px;
}

.infoTitle {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid $PALEGOLD;
}

.infoScore {
  height: 10%;
  width: 100%;
  border-bottom: $PALEGOLD;
}
/* userPage */

.userContentBox {
  width: 100%;
  height: 50%;
  margin-top: 1%;
}

.userInfoBox {
  width: 100%;
  height: 50%;
  border-bottom: 1px solid $PALEGOLD;
}

.userInfoBlock {
  width: 50%;
  height: 100%;
  float: left;
}

.userInfoButton {
  width: 45%;
  height: 42%;
  float: left;
  margin: 10px;
  color: $PALEGOLD;
  background-color: $CHARCOAL;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
  border: 4px solid $PALEGOLD;
}

.userInfoBlockSection {
  height: 75%;
  width: 95%;
  margin: 10px;
  float: left;
}

#follow_form {
  width: 95%;
  height: 25%;
  float: left;
  margin: 5px;
}

.followDButton {
  width: 100%;
  height: 100%;
}

.formFollow {
  color: white;
  background-color: $INK;
  font-size: 30px;
}

.formUnFollow {
  background-color: $CORAL;
  color: black;
  font-size: 30px;
}

.contentPreviewBox {
  height: 90%;
  width: 48%;
  float: left;
  margin: 2px;
}

.picPreviewContain {
  width: 48%;
  height: 48%;
  margin: 2px;
  margin-left: 1.5%;
  float: left;
}

.picPreviewContain img {
  width: 100%;
  height: 100%;
}

.contentButton {
  height: 85%;
  width: 22%;
  margin-left: 2.5%;
  float: left;
  padding-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  color: $PALEGOLD;
  background-color: $CHARCOAL;
  border: 4px solid $PALEGOLD;
}

.contentButton h3 {
  text-align: center;
}

/* forms */
.formBoxContainer {
  width: 100%;
  height: 100%;
}
.formBox {
  width: 65%;
  height: 100%;
  margin: 10px;
  float: left;
}
.formBox form {
  width: 100%;
  height: 100%;
}

.form-group {
  width: 40%;
  height: 25%;
  float: left;
}

.form-group .form-control {
  height: 80%;
  width: 90%;
}

.form-group label {

}

.formBox .btn {
  height: 30%;
  width: 36%;
  background-color: $CHARCOAL;
  color: $PALEGOLD;
}

.fileSelect {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.errorBox {
  width: 30%;
  height: 70%;
  margin: 20px;
  float: left;
}

.addFormButtons {
  width: 30%;
  height: 25%;
  margin: 10px;
  float: left;
  background-color: $INK;
  text-align: center;
  font-size: 2em;
  padding: auto;
  padding-top: 3%;
  color: $PAPER;
}

#session_remember_me {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
  top: 30px;
  left: 55%;
}

#commentBlock {
  height: 85%;
  width: 100%;
}

.comments {
  height: 75%;
  width: 100%;
}

.commentForm {
  height: 25%;
  width: 100%;
}

.commentForm form {
  height: 100%;
  width: 100%;
}

.commentForm form div{
  width: 50%;
  height: 100%;
  margin-bottom: 0;
}

#commentText {
  height: 100%;
  width: 100%;
}

.commentForm .btn {
  width: 50%;
  height: 100%;
}
.comment {
  height: 12.5%;
  width: 100%;
  border-bottom: 1px solid rgba($PALEGOLD, 0.3);
}

.commentTxt {
  width: 65%;
  height: 100%;
  float: left;
  border-right: 1px solid $PALEGOLD;
}

.commentUsername {
  width: 15%;
  height: 100%;
  float: left;
  border-right: 1px solid $PALEGOLD;
}

.commentTime {
  width: 20%;
  height: 100%;
  float: left;
}
/* paginate */

.paginationSite {
  height: 14%;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 0;
}

.pageButton {
  width: 50%;
  height: 100%;
  float: left;
  background-color: $CHARCOAL;
  color: $PALEGOLD;
  padding: 1%;
  border: 2px solid $PALEGOLD;
}

.siteBox {
  height: 80%;
  width: 30%;
  margin: 1.6%;
  float: left;
  color: $PALEGOLD;
  background-color: $CHARCOAL;
  padding-top: 2%;
}

.siteBox h3 {
  text-align: center;
  font-size: 3em;
  border-bottom: 1px solid $PALEGOLD;
}

.siteBox p {
  text-align: center;
  font-size: 1.5em;
}
