<div id="mainNav"class="container-fluid">
  <div class="navButton"id="navToggle">PicturePerfect</div>
  <% if logged_in? %>
    <%= link_to current_user do %>
      <div class="navButton modalClick">
        <%=current_user.username%></div>
    <% end %>
  <% else %>
    <%= link_to login_url do %>
      <div class="navButton modalClick">Login</div>
    <% end %>
  <% end %>
</div>
