<div id="mainNav"class="container-fluid">
  <div class="navButton"id="navToggle">PicturePerfect</div>
  <%= link_to '#' do %>
    <div class="navButton modalClick">SignIn/SignUp</div>
  <% end %>
</div>
